{% extends "base.html" %}
{% load staticfiles %}

	{% block body_block %}
	



			<div class="row" id="main-content">
				<div class="span4" id="sidebar">
					<blockquote>
						<p>Don't forget to take a test today. More tests are coming soon, to test your intelligence level!!!</p>
						<small>IQ Test</small>
					</blockquote>
					<div class="well">
						<p>The average IQ is 100. Have you wondered what your IQ score is? Our Unique IQ Test will give you a fast, free and accurate iq score. Register and take our quick free IQ test and find out just how smart you are.</p>
					</div>
					<div class="accordion" id="questions">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle btn" data-toggle="collapse" data-parent="#questions" href="#Tips">Tips</a>
							</div>
							<div id="Tips" class="accordion-body collapse">
								<div class="accordion-inner">
									<h5>This might be the best IQ test. All questions are refined by the creator who carefully selected 20 questions.</h5>

									<h5>It's hard to academically define Intelligence Quotient so please do NOT compare the result with results of other online IQ tests. Normally you'll get a lower score since this test is NOT easy!</h5>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle btn" data-toggle="collapse" data-parent="#questions" href="#how">How to Play</a>
							</div>
							<div id="how" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>MEEEEEEEEEE</p>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle btn" data-toggle="collapse" data-parent="#questions" href="#guide">IQ Test Score Guide</a>
							</div>
							<div id="guide" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>MEEEEEEEEEE</p>
								</div>
							</div>
						</div><div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle btn" data-toggle="collapse" data-parent="#questions" href="#story">Success Stories</a>
							</div>
							<div id="story" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>" Since I started with IQ Test, I can remember names of new acquaintances much better! "<br>
									</p>
									<p>" Since I started training my reactions,I noticed I react way more quickly when driving in busy traffic"</p>
									<p>" I can multi-task much more easily at work, I stay focused and shift from one task to another more quickly."</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="span8">
					<div class="well">
						<form method="POST" action="/iq_app/signup/" style="text-align:center">
							<fieldset>
								<a class="label label-info"><h4>All fields are Required</h4></a><br><br>

								 {% csrf_token %}

								 {% for field in form %}
								<div class="span1" style="text-align:left">
									 <h4>{{ field.errors }}
										 {{ field.help_text }}</h4></div>
										 {{ field.as_p }}
										 {{ field }}<br><br>
								 {% endfor %}

								 {% for new_field in registerform %}
								<div class="span1" style="text-align:left">
									 <h4>{{ new_field.errors }}
										 {{ new_field.help_text }}</h4></div>
										 {{ new_field.as_p }}
										 {{ new_field}}<br><br>
								 {% endfor %}
								 		<!-- {{ registerform.as_p }} -->
								<br/>
								 <br>
								 <input type="submit" class="btn btn-primary" value="register">
							</fieldset>
						</form>
					</div>
				</div>

			</div>
			






		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% endblock %}